<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photoselector"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|navigation|screenSize"
        android:icon="@drawable/ic_launcher"
        android:screenOrientation="portrait" >
        <activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:label="图片选择"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:label="图片预览"
            android:screenOrientation="portrait" >
        </activity>
        <!--确实没有PhotoSelectorPreview-->
        <activity
            android:name="com.photoselector.ui.PhotoSelectorPreview"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize"
            android:label="点击图片"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>